*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
openCVLibrary310/build/generated/assets/
openCVLibrary310/build/generated/res/
openCVLibrary310/build/generated/source/apt/
openCVLibrary310/build/generated/source/rs/
openCVLibrary310/build/intermediates/check-manifest/
openCVLibrary310/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
openCVLibrary310/build/intermediates/incremental/packageDebugResources/aapt-temp/
openCVLibrary310/build/intermediates/incremental/packageDebugResources/stripped.dir/
openCVLibrary310/build/intermediates/intermediate-jars/debug/jni/arm64-v8a/
openCVLibrary310/build/intermediates/intermediate-jars/debug/jni/x86_64/
openCVLibrary310/build/intermediates/jniLibs/
openCVLibrary310/build/intermediates/library_and_local_jars_jni/
openCVLibrary310/build/intermediates/ndkBuild/debug/obj/local/arm64-v8a/
openCVLibrary310/build/intermediates/ndkBuild/debug/obj/local/x86_64/
openCVLibrary310/build/intermediates/packaged-aidl/
openCVLibrary310/build/intermediates/packagedAssets/
openCVLibrary310/build/intermediates/public_res/
openCVLibrary310/build/intermediates/publish-proguard/
openCVLibrary310/build/intermediates/rs/
openCVLibrary310/build/intermediates/shaders/
openCVLibrary310/build/intermediates/transforms/mergeJniLibs/debug/0/lib/arm64-v8a/
openCVLibrary310/build/intermediates/transforms/mergeJniLibs/debug/0/lib/x86_64/
openCVLibrary310/build/intermediates/transforms/stripDebugSymbol/debug/0/lib/arm64-v8a/
openCVLibrary310/build/intermediates/transforms/stripDebugSymbol/debug/0/lib/x86_64/
openCVLibrary310/build/tmp/
