<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.custu.project.project.walktogether">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.custu.project.walktogether.WalkTogetherConfig"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.custu.project.walktogether.controller.LoginActivity" />

        <service android:name="com.custu.project.walktogether.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.custu.project.walktogether.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bf8ae8861d8ddd57c8ed262f0e3122f547feaf1f" />
        <meta-data
            android:name="com.custu.project.walktogether.util.lib.GlideConfiguration"
            android:value="GlideModule" />

        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionOneActivity"
            android:label="@string/topics_name"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionTwoActivity"
            android:label="@string/topics_name"
            android:noHistory="true" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bf8ae8861d8ddd57c8ed262f0e3122f547feaf1f" />

        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionSevenActivity"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionFourteenActivity"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionFifteenActivity"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionSixteenActivity"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionNineteenActivity"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionSeventeenActivity"
            android:noHistory="true"></activity>
        <activity android:name="com.custu.project.walktogether.controller.tmse.DrawImageActivity"></activity>
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionThreeActivity"
            android:label="@string/topics_name"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionFourActivity"
            android:label="@string/topics_name"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionFiveActivity"
            android:label="@string/topics_name"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionSixActivity"
            android:label="@string/topics_name"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionEightActivity"
            android:label="@string/topics_name"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionEighteenActivity"
            android:label="@string/topics_name"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionTwelveActivity"
            android:label="@string/topics_name"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionThirteenActivity"
            android:label="@string/topics_name"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionNineActivity"
            android:label="@string/topics_name"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionTenActivity"
            android:label="@string/topics_name"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.QuestionElevenActivity"
            android:label="@string/topics_name"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.controller.ChooseuserActivity"
            android:label="เลือกประเภทผู้ใช้" />
        <activity
            android:name="com.custu.project.walktogether.controller.caretaker.RegisterCaretakerActivity"
            android:label="สมัครสมาชิก ผู้ดูแล" />
        <activity android:name="com.custu.project.walktogether.controller.tmse.ResultActivity" />
        <activity
            android:name="com.custu.project.walktogether.controller.patient.RegisterPatientActivity"
            android:label="สมัครสมาชิก " />
        <activity android:name="com.custu.project.walktogether.controller.tmse.ResultPassActivity" />
        <activity android:name="com.custu.project.walktogether.controller.SplashScreenActivity"></activity>
        <activity android:name="com.custu.project.walktogether.controller.caretaker.ReHomeCaretakerActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.custu.project.walktogether.controller.patient.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name="com.custu.project.walktogether.controller.tmse.ConditionActivity"
            android:label="ข้อกำหนดการใช้งาน" />
        <activity android:name="com.custu.project.walktogether.controller.patient.HistoryEvaluationActivity" />
        <activity android:name="com.custu.project.walktogether.controller.caretaker.AddTabCaretakerActivity" />
        <activity android:name="com.custu.project.walktogether.controller.caretaker.PatientDetailActivity" />
        <activity android:name="com.custu.project.walktogether.controller.caretaker.EditCaretakerProfileActivity" />
        <activity android:name="com.custu.project.walktogether.controller.patient.ReHomePatientActivity" />
        <activity android:name="com.custu.project.walktogether.controller.caretaker.ChangePasswordCaretakerActivity" />
        <activity android:name="com.custu.project.walktogether.controller.patient.EditPatientProfileActivity" />
        <activity android:name="com.custu.project.walktogether.controller.patient.ChangePasswordPatientActivity" />
        <activity android:name="com.custu.project.walktogether.controller.ForgetPasswordActivity" />
        <activity android:name="com.custu.project.walktogether.controller.patient.AddTabPatientActivity" />
        <activity android:name="com.custu.project.walktogether.controller.mission.missiontwo.MissionBoxActivity" />
        <activity android:name="com.custu.project.walktogether.controller.mission.missiontwo.MissionClockActivity" />
        <activity
            android:name="com.custu.project.walktogether.controller.mission.missiontwo.MissionEmotionActivity"
            android:label="@string/title_activity_mission_emotion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.custu.project.walktogether.controller.mission.missiontwo.MissionProverbsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.custu.project.walktogether.controller.mission.missiontwo.MissionTypegroupActivity" />
        <activity android:name="com.custu.project.walktogether.controller.patient.HistoryMissionActivity" />
        <activity android:name="com.custu.project.walktogether.controller.patient.HistoryMissionDetailActivity" />
        <activity
            android:name="com.custu.project.walktogether.controller.WelcomeActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.custu.project.walktogether.controller.patient.ReceiveRewardActivity" />
        <activity android:name="com.custu.project.walktogether.controller.patient.CollectionActivity" />
        <activity android:name="com.custu.project.walktogether.controller.patient.MissionCompleteActivity"></activity>
    </application>

</manifest>