<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.custu.project.project.walktogether">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.custu.project.walktogether.WalkTogetherConfig"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.custu.project.walktogether.LoginActivity" />

        <service android:name="com.custu.project.walktogether.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.custu.project.walktogether.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bf8ae8861d8ddd57c8ed262f0e3122f547feaf1f" />

        <activity
            android:name="com.custu.project.walktogether.QuestionOneActivity"
            android:label="@string/topics_name" android:noHistory="true"/>
        <activity
            android:name="com.custu.project.walktogether.QuestionTwoActivity"
            android:label="@string/topics_name" android:noHistory="true"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bf8ae8861d8ddd57c8ed262f0e3122f547feaf1f" />

        <activity android:name="com.custu.project.walktogether.QuestionSevenActivity" android:noHistory="true"/>
        <activity android:name="com.custu.project.walktogether.QuestionFourteenActivity" android:noHistory="true"/>
        <activity android:name="com.custu.project.walktogether.QuestionFifteenActivity" android:noHistory="true"/>
        <activity android:name="com.custu.project.walktogether.QuestionSixteenActivity" android:noHistory="true"/>
        <activity android:name="com.custu.project.walktogether.QuestionNineteenActivity" android:noHistory="true"/>
        <activity android:name="com.custu.project.walktogether.QuestionSeventeenActivity" android:noHistory="true"/>
        <activity android:name="com.custu.project.walktogether.DrawImageActivity" />
        <activity
            android:name="com.custu.project.walktogether.QuestionThreeActivity"
            android:label="@string/topics_name"
            android:noHistory="true" />
        <activity
            android:name="com.custu.project.walktogether.QuestionFourActivity"
            android:label="@string/topics_name" android:noHistory="true"/>
        <activity
            android:name="com.custu.project.walktogether.QuestionFiveActivity"
            android:label="@string/topics_name" android:noHistory="true"/>
        <activity
            android:name="com.custu.project.walktogether.QuestionSixActivity"
            android:label="@string/topics_name" android:noHistory="true"/>
        <activity
            android:name="com.custu.project.walktogether.QuestionEightActivity"
            android:label="@string/topics_name" android:noHistory="true"/>
        <activity
            android:name="com.custu.project.walktogether.QuestionEighteenActivity"
            android:label="@string/topics_name" android:noHistory="true"/>
        <activity
            android:name="com.custu.project.walktogether.QuestionTwelveActivity"
            android:label="@string/topics_name" android:noHistory="true"/>
        <activity
            android:name="com.custu.project.walktogether.QuestionThirteenActivity"
            android:label="@string/topics_name" android:noHistory="true"/>
        <activity
            android:name="com.custu.project.walktogether.QuestionNineActivity"
            android:label="@string/topics_name" android:noHistory="true"/>
        <activity
            android:name="com.custu.project.walktogether.QuestionTenActivity"
            android:label="@string/topics_name" android:noHistory="true"/>
        <activity
            android:name="com.custu.project.walktogether.QuestionElevenActivity"
            android:label="@string/topics_name" android:noHistory="true"/>
        <activity
            android:name="com.custu.project.walktogether.ChooseuserActivity"
            android:label="เลือกประเภทผู้ใช้" />
        <activity
            android:name="com.custu.project.walktogether.RegisterCaretakerActivity"
            android:label="สมัครสมาชิก ผู้ดูแล" />
        <activity android:name="com.custu.project.walktogether.ResultActivity" />
        <activity
            android:name="com.custu.project.walktogether.RegisterPatientActivity"
            android:label="สมัครสมาชิก " />
        <activity android:name="com.custu.project.walktogether.ResultPassActivity" />
        <activity android:name="com.custu.project.walktogether.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.custu.project.walktogether.ReHomeCaretakerActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.custu.project.walktogether.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name="com.custu.project.walktogether.ConditionActivity"
            android:label="ข้อกำหนดการใช้งาน" />
        <activity android:name="com.custu.project.walktogether.HistoryEvaluationActivity" />
        <activity android:name="com.custu.project.walktogether.AddTabCaretakerActivity" />
        <activity android:name="com.custu.project.walktogether.PatientDetailActivity" />
        <activity android:name="com.custu.project.walktogether.EditCaretakerProfileActivity" />
        <activity android:name="com.custu.project.walktogether.ReHomePatientActivity" />
        <activity android:name="com.custu.project.walktogether.ChangePasswordCaretakerActivity" />
        <activity android:name="com.custu.project.walktogether.EditPatientProfileActivity" />
        <activity android:name="com.custu.project.walktogether.ChangePasswordPatientActivity" />
        <activity android:name="com.custu.project.walktogether.ForgetPasswordActivity" />
        <activity android:name="com.custu.project.walktogether.AddTabPatientActivity"></activity>
    </application>

</manifest>