<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.custu.project.project.walktogether">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.custu.project.walktogether.LoginActivity" />
        <activity
            android:name="com.custu.project.walktogether.TopicsOneActivity"
            android:label="@string/topics_name" />
        <activity
            android:name="com.custu.project.walktogether.PageOneActivity"
            android:label="@string/topics_name" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bf8ae8861d8ddd57c8ed262f0e3122f547feaf1f" />

        <activity
            android:name="com.custu.project.walktogether.QuestionOneActivity"
            android:label="@string/topics_name" />
        <activity
            android:name="com.custu.project.walktogether.QuestionTwoActivity"
            android:label="@string/topics_name" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bf8ae8861d8ddd57c8ed262f0e3122f547feaf1f" />

        <activity android:name="com.custu.project.walktogether.QuestionSevenActivity" />
        <activity android:name="com.custu.project.walktogether.QuestionFourteenActivity" />
        <activity android:name="com.custu.project.walktogether.QuestionFifteenActivity" />
        <activity android:name="com.custu.project.walktogether.QuestionSixteenActivity" />
        <activity android:name="com.custu.project.walktogether.QuestionNineteenActivity" />
        <activity android:name="com.custu.project.walktogether.QuestionSeventeenActivity" />
        <activity android:name="com.custu.project.walktogether.DrawImageActivity" />
        <activity
            android:name="com.custu.project.walktogether.QuestionThreeActivity"
            android:label="@string/topics_name" />
        <activity
            android:name="com.custu.project.walktogether.QuestionFourActivity"
            android:label="@string/topics_name" />
        <activity
            android:name="com.custu.project.walktogether.QuestionFiveActivity"
            android:label="@string/topics_name" />
        <activity
            android:name="com.custu.project.walktogether.QuestionSixActivity"
            android:label="@string/topics_name" />
        <activity
            android:name="com.custu.project.walktogether.QuestionEightActivity"
            android:label="@string/topics_name" />
        <activity
            android:name="com.custu.project.walktogether.QuestionEighteenActivity"
            android:label="@string/topics_name"/>

        <activity
            android:name="com.custu.project.walktogether.QuestionTwelveActivity"
            android:label="@string/topics_name" />
        <activity
            android:name="com.custu.project.walktogether.QuestionThirteenActivity"
            android:label="@string/topics_name" />
        <activity
            android:name="com.custu.project.walktogether.QuestionNineActivity"
            android:label="@string/topics_name" />
        <activity
            android:name="com.custu.project.walktogether.QuestionTenActivity"
            android:label="@string/topics_name" />
        <activity
            android:name="com.custu.project.walktogether.QuestionElevenActivity"
            android:label="@string/topics_name" />
        <activity
            android:name="com.custu.project.walktogether.ChooseuserActivity"
            android:label="เลือกประเภทผู้ใช้" />
        <activity
            android:name="com.custu.project.walktogether.RegisterCaretakerActivity"
            android:label="สมัครสมาชิก ผู้ดูแล" >

        </activity>
        <activity android:name="com.custu.project.walktogether.ResultActivity" />
        <activity android:name="com.custu.project.walktogether.TopicsTwoActivity" />
        <activity android:name="com.custu.project.walktogether.TopicsThreeActivity" />
        <activity android:name="com.custu.project.walktogether.TopicsFourActivity" />
        <activity android:name="com.custu.project.walktogether.TopicsFiveActivity" />
        <activity android:name="com.custu.project.walktogether.TopicsSixActivity" />
        <activity
            android:name="com.custu.project.walktogether.HomeActivity"
            android:label="Home" />
        <activity
            android:name="com.custu.project.walktogether.RegisterPatientActivity"
            android:label="สมัครสมาชิก " >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.custu.project.walktogether.HomeCaretakerActivity"
            android:label="Home Care" />
        <activity android:name="com.custu.project.walktogether.ResultPassActivity" />
        <activity
            android:name="com.custu.project.walktogether.ProfileActivity"
            android:label="บัญชีผู้ใช้"></activity>
        <activity
            android:name="com.custu.project.walktogether.ExampleActivity"
            android:label="@string/title_activity_example"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.custu.project.walktogether.SplashScreenActivity" />
        <activity android:name="com.custu.project.walktogether.AddPatientAcctivity" />
        <activity
            android:name="com.custu.project.walktogether.ChoosemapActivity"
            android:label="กรุณาเลือกแผนที่" />
        <activity
            android:name="com.custu.project.walktogether.EditprofileActivity"
            android:label="แก้ไขบัญชีผู้ใช้" />
        <activity android:name="com.custu.project.walktogether.ReHomeCaretakerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
        <activity android:name="com.custu.project.walktogether.SplashScreenActivity">
        </activity>
        <activity android:name="com.custu.project.walktogether.AddPatientAcctivity" />
        <activity
            android:name="com.custu.project.walktogether.ChoosemapActivity"
            android:label="กรุณาเลือกแผนที่" />
        <activity
            android:name="com.custu.project.walktogether.EditprofileActivity"
            android:label="แก้ไขบัญชีผู้ใช้" />
        <activity
            android:name="com.custu.project.walktogether.ScanQRCodeActivity"
            android:screenOrientation="fullSensor">
        </activity>
    </application>

</manifest>